<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>MusicGo</title>

    <link rel="stylesheet" href="/static/musicgo.css" media="screen">

    <h1>MusicGo</h1>
    </head>

<!-- create music&go logo -->

<body>
    <header>
    <nav class= "navbar">
    <ul class="navlist">
    <li><a href="/home">Home</a>
    <li>
        <a href="/library">Library</a>
        </form>
    </li>
    <li><a href="/about">About</a></li>
    </ul>
    </nav>

    </body>

    </header>


    <h1>
    ABOUT US
    </h1>
    <h2>
        We want to provide the best way to generate a random song and you decide whether you want it in your library or not.
    </h2>
   

    </form>

</html>