<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>MusicGo</title>
    <script src="../static/sript.js"></script>
    <link rel="stylesheet" href="/static/musicgo.css" media="screen">

    <h1>MusicGo</h1>
    
    <div id="loginb">
    <form action="/login" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in" style="color:grey">
    </form>
    </div>

    </head>
</html>