<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>MusicGo</title>

    <link rel="stylesheet" href="/static/musicgo.css" media="screen">

    <h1>MusicGo</h1>

    <div class="onlylogin">
        <button type="button" onclick="location.href = '/login';" id="loginbutton">Log In</button>
    </div>
  
    </head>

<!-- create music&go logo -->

<body>
    <header>
    <nav class= "navbar">
    <ul class="navlist">
    <!-- <li><a href="/home">Music&Go</a></li> -->
    <li><a href="/home">Home</a>
    <li><a href="/library">Library</a></li>
    <li><a href="/about">About</a></li>
    </ul>
    </nav>

    </body>

    </header>

    <div>
        <h1>
          Welcome to my MusicGo Website!
        </h1>

        <h5>
            To start off, first Log In on the top right corner
        
        </h5>

        
    </div>
</html>